* {
    margin: 0px;
}
logo-img {
    width: auto;
    height: 700px;
}
.row {
    width: 1200px;
}
img {
    width: 390px;
    height: 250px;
    border-radius: 5px;
    padding: 15px;

}
img:hover {
    border: 1px solid orange;
    border-color: orange;
}