nav.navbar {
    background-color: forestgreen;
  }
  
  .navbar-brand {
    color: white;
    text-shadow: 1px 1px 1px gray;
  }
  
  a.nav-link {
    font-size: 25px;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px gray;
  }
  
  h1 {
    font-size: 45px;
    margin-top: 15px;
  }
  
  a.nav-link:hover {
    background-color: black;
    opacity: 0.6;
    color: white;
  }
  
  .header-img {
    width: 100px;
    height: 90px;
    display: inline;
  }
  
  a.navbar-brand:hover {
    color: white;
    text-decoration: none;
  }
  
  .col-md-6 {
    margin: 15px auto;
    border: 0.1px solid #ccc;
  }