h6 {
    width: auto;
}

.box-element {
    border: 1px solid black;
    text-align: center;
    margin: 0px auto;
}

table {
    width: 100%;
    box-shadow: 0px 0px 2px;
}
.checkout {
    border-bottom: 1px solid black;
}
.cart-order {
    font-size: 24px;
    padding: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: lightgreen;
}

.cart-row {
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px;
}

a.btn-success {
    padding: 10px;
    margin: 0px;
    transform: translateY(50);
}

.hidden-element {
    margin: 10px 0px;
    display: inline;
    visibility: hidden;
}

.wow {
    margin: 10px auto;
}

a.btn-outline-dark {
    margin-left: 10px;
}

a.btn-dark {
    padding: 10px;
    margin: 10px 0px;
}


.logo-image {
    width: 150px;
    height: 80px;
}

.row-element {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: auto;
}

.row-element-prod {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: auto;
}

.img-pd {
    width: 80px;
    height: 80px;
}

.pdq {
    text-align: center;
}

tr.rows:nth-child(odd) {
    background-color: Lightgreen;
}

.qua {
    display: inline;
}

.total_tab {
    width: 380px;
    height: 100px;
    text-align: center;
}

.total-shop {
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.tot {
    border-bottom: 1px solid black;
}

.total {
    border: 2px solid black;
}

.shopprice {
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
}

i.fa-trash {
    font-size: 28px;
    color: red;
    margin: 0px;
}

.fa-trash:hover {
    font-size: 38px;
}

i.fa-trash:focus {
    box-shadow: none;

}

.fa-plus {
    float: left;
    padding-left: 10px;
    margin-bottom: 10px;

}

.fa-minus {
    float: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

.best {
    padding: 10px;
    margin: 10px 0px;
}

.bestbuy {
    padding: 10px;
    margin: 10px 0px;
}

.buttons-check {
    float: right;
}

.row-image {
    width: 100px;
    height: 60px;
    padding: 10px;
}

h6 {
    padding: 0px 5px;
    margin: 0px;
}