{% extends 'store/base.html'%}
{% load static %}

{% block title %}
<title>Diary Products</title>
{% endblock title %}


{% block content %}
<link rel="stylesheet" href="{% static 'store/styles_product.css' %}">
<div class="container">
    <div class="row">

        {% for i in product|slice:"0:" %}

        <div class="col-md-3 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/media/{{ i.product_image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ i.product_name }}</h5>
                    <h6 class="quantity">Quantity: {{ i.product_quantity }}</h6>
                    <button data-product={{ i.id }} data-action="add " class=" btn update-cart btn-primary">Add to
                        Trolley</button>
                    <button data-product={{ i.id }} data-action="add " class=" btn update-cart btn-primary">Add to
                        List</button>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}