{% extends "base.html" %}
{% load static %}
{% block content %}

  

{% endblock content%}


<!--   <div class="container">
    <h2>Categories</h2>
    <div class="row">
      <div class="col-md-3 cereals">
        <img src="{{ cereals.thumbnail.url }}" alt="Cereals" height="150" width="150">
        <a href="#"><span>Cereals</span></a>
      </div>
      <div class="col-md-3 dp">
        <img src="{{ diaryprod.thumbnail.url }}" alt="Diary products" height="150" width="150">
        <span>Diary Products</span>
      </div>
      <div class="col-md-3 drinks">
        <img src="images/drinks.jpg" alt="Beverages" height="150" width="150">
        <span>Beverages</span>
      </div>
      <div class="col-md-3 spices">
        <img src="images/spices.jpg" alt="spices" height="150" width="150">
        <span>Spices</span>
      </div>
    </div>
  </div>  -->
