{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'store/styles.css' %}">

    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    {% block title %}

    {% endblock title %}
    {% endif %}

    <script src="https://use.fontawesome.com/f187ace6c7.js"></script>
    <script>
        var user = '{{request.user}}'

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>


</head>

<body>
    <!--HEADER-->

    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="{% url 'home-page' %}">
            <h1> <img class="header-img" src="{% static 'rationmangreen.jpeg' %}" alt="Ration-Man"> Ration-Man</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="butin">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home <br /><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        List
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Create list</a>
                        <a class="dropdown-item" href="#">Edit list</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category' %}">Categories</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'trolley' %}">Trolley</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item"> <a class="nav-link" href="{% url 'profile' %}">My Account</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li class="nav-item"> <a class="nav-link" href=" {% url 'register' %} ">Sign Up</a></li>
                <li class="nav-item"> <a class="nav-link" href=" {% url 'login' %} ">Sign In</a></li>
                {% endif %}
            </ul>
            <form method="get" action="/search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
                    id="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search...</button>
            </form>
    </nav>
    <div class="col-md-12">


        {% block content %}

        {% endblock %}
    </div>

    <!--FOOTER
<footer>
  <div class="container">
    <b>This is worst footer</b>
  </div>
</footer>


-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script type=text/javascript src="{% static 'js/cart.js' %}"></script>
    <script type=text/javascript src="{% static 'js/list.js' %}"></script>

</body>

</html>