{% extends "store/base.html" %}
{% load static %}

{% block title %}

<title>Lists</title>

{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'store/styles_product.css' %}">
<div class="container">
    <div class="row">

        {% for i in items|slice:"0:" %}

        <div class="col-md-3 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/media/{{ i.product.product_image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ i.product.product_name }}</h5>
                    <h6 class="quantity">Quantity: {{ i.product.product_quantity }}</h6>
                    <button data-product={{ i.id }} data-action="add " class=" btn btn-primary update-cart ">Add to
                        Trolley</button>
                        <button data-list={{ i.id }} data-action="minus " class=" btn btn-primary update-list "> Remove </button>
                    </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>


<script type="text/javascript" src="{% static 'js/list.js' %}"></script>

{% endblock content%}

